*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: #28282b;
}



body {
	background-image: url("billie33.jpg");
	font-family: 'Nunito', monospace;
	background-color: #E6EBFF;
	min-height: 100vh;
}

.content {
	position: relative;
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100vh;
	overflow: hidden;
	min-height: 650px;
	margin: 0 auto;
}

.content--fixed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: none;
	z-index: 100;
	align-content: space-between;
	pointer-events: none;
	padding: 1.5em;
	
}



.demos {
	grid-area: demos;
	text-align: center;
	display: block;
	position: relative;
}

.demo {
	margin: 0 0.15em;
}

.demo span {
	text-transform: lowercase;
	font-weight: bold;
	pointer-events: none;
	white-space: nowrap;
}

.demo span::before {
	content: '#';
}

a.demo--current {
	text-decoration: underline;
	pointer-events: none;
}



/* Common styles for the words */
.word {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	cursor: default;
	
}

@media screen and (min-width: 50em) {
	.demos {
		align-self: end;
		justify-self: end;
		display: flex;
	}
	.demo {
		display: block;
		border: 2px solid;
		width: 12px;
		height: 12px;
		border-radius: 2px;
		margin: 0 10px 0 0;
	}
	a.demo--current {
		background: currentColor;
	}
	.demo span {
		position: absolute;
		display: none;
		right: 100%;
		top: -0.35em;
		margin: 0 1em 0 0;
	}
	.demo--current span {
		display: block;
	}
}

@media screen and (max-width: 50em) {
	html, body {
		overflow-x: hidden;
		width: 100vw;
		height: 100%;
	}
	.content {
		height: auto;
		min-height: 0;
	}
	.content--layout {
		overflow: visible;
	}
	.demo-magneto .content--layout {
		padding: 1em 0 0 0;
	}
	.content--fixed {
		display: block;
		z-index: 1000;
		position: relative;
		padding: 0.85em;
	}
	.word.word--magneto {
		font-size: 3em;
	}
}
p{
	
	text-align: center;
	color:red;

}

